/* #box {
  border: 1px gray solid;
  margin-top: 50px;
}

.beautify {
  padding: 10px;
}

.formstyle {
  background-color: #045faa;
  color: white;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Redacted+Script&display=swap'); */

body {
  min-height: 100vh;
  /* background: hsl(220deg, 100%, 80%); */
  background-image: url(../../../assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  /* width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; */
}

h1 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.login-form {
  width: 360px;
  background: #00b0ff;
  height: 480px;
  padding: 80px 40px;
  border-radius: 10px;
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
}

.input-field {
  width: 90%;
  height: 55px;
  margin: 10px 0;
  border-radius: 8px;
  display: inline-flex;
  padding: 0.3rem;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input-field input {
  background: none;
  line-height: 1.1rem;
  font-weight: bold;
  font-size: 1.9rem;
  border: none;
  outline: none;
  height: 36px;

  background-color: white;
  text-indent: 1rem;
  letter-spacing: 0.1em;
  border-radius: 4px;
}

#send-otp {
  z-index: 2;
  padding: 8px;
  background-color: #009dae;
  color: #fff;
  border: none;
  transform: translateX(-100%);
  cursor: pointer;
  position: relative;
  box-shadow: 4.5px 9px 9px hsl(0deg 0% 0% / 0.36);
}

.input-field input::placeholder {
  color: #009dae;
}

.login-btn {
  width: 100px;
  height: 44px;
  margin-top: 32px;
  cursor: pointer;
  box-shadow: -3.2px -2.9px 25px rgba(0, 0, 0, 0.07),
    -1.4px -1.3px 27.6px rgba(0, 0, 0, 0.093),
    13px 11.7px 18.5px rgba(0, 0, 0, 0.091), 90px 81px 80px rgba(0, 0, 0, 0.059);
}
input[type="submit"] {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  background-color: rgb(193 213 202 / 86%);
  color: black;
  letter-spacing: 0.2em;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}

.beautify {
  padding: 10px;
}

.formstyle {
  background-color: #045faa;
  color: white;
}
#box {
  position: relative;
  top: 50%;
  left: 50%;
  width: 18em;
  height: 16em;
  margin-top: -8em; /*set to a negative number 1/2 of your height*/
  margin-left: -9em;
}

.img-responsive {
  /* width: 50%; */
  border: 1px black solid;
  margin-top: 12%;
}

.logindiv {
  /* background-color: rgb(36, 167, 153, 0.9); */
  /* background-color: rgb(255, 242, 252, 0.8); */
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20em;
  height: 18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -10em;
  /* border: 1px solid black; */
  /* transform: translate(-50%, -50%); 
  padding: 10px; */
}
